@import './reset.scss';
@import './mixin.scss';
@import './var.scss';
.ofh{
  overflow: hidden
}
.fl {
  float: left
}
.fr{
  float: right;
}
.blk{
  display: block;
}
.circle{
  border-radius: 50%;
}
.padding{
  padding: $basePadding
}
.text-right{
  text-align: right;
}
.cf{
  clear: both;
}
.margin-bottom-far{
  margin-bottom: $farMargin;
}
.margin-bottom-close{
  margin-bottom: $closeMargin;
}
.container {
  @include absoluteContainer();
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
.container.has-header{
  top: 44px;
}

.card {
  @extend .blk;
  @extend .padding;
  @extend .ofh;
  @include setShadow();
  @include box-sizing;
  font-size: $baseFontSize;
}

.avatar{
  width: 50px;
  height: 50px;
  @extend .circle;
  background: #ccc;
}
.avatar-min{
  @extend .avatar;
  width: 40px;
  height: 40px;
}
.rows {
  display: flex;
}
.list {
  .list-title {
    @extend .ofh;
    padding: 0 $basePadding;
    min-height: 48px;
    line-height: 48px;
    @include box-sizing;
  }
  .item {
    padding: 10px;
    @include border(bottom);
    h3{
      color: $titleColor;
      font-size: 16px;
      line-height: 1.5;
      @include ellipsis();
      &:before {
        content: attr(title);
        @include badge();
        color: #fff;
      }
      &.default:before{
        color: $baseColor;
      }
      &.top:before{
        background: #e74c3c;
        
      }
      &.ask:before{
        background: #3498db;
        
      }
      &.good:before{
        background: #80bd01;
        
      }
      &.share:before{
        background: #f3bc40;
        
      }
      &.job:before{
        background: #9b59b6;
      }
    }
  }
}
