*{
  margin:0;
  padding: 0
}
$basePadding: 15px;
.padding{
  padding: basePadding
}
@mixin absoluteContainer () {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.container {
  @include absoluteContainer();
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  //padding: 15px;
}
.container.has-header{
  top: 44px;
}