@import '~STYLE/var.scss';
@mixin absoluteContainer () {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@mixin setShadow () {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
@mixin box-sizing ($sizing:border-box) {
    -webkit-box-sizing:$sizing;     
       -moz-box-sizing:$sizing;
            box-sizing:$sizing;
}

@mixin border ($direction) {
  border-#{$direction}:1px solid $baseColor;
}

@mixin badge () {
    padding: 5px 6px;
    font-size: 10px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #e7e7e7;
    text-align: center;
    vertical-align: middle;
}

@mixin ellipsis ($lines:1) {
  white-space: nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
  // display: -webkit-box;
  -webkit-line-clamp: $lines;
  // -webkit-box-orient: vertical;
}

@mixin marginFar ($dir) {
  margin-#{$dir}: $farMargin;
}
@mixin marginClose ($dir) {
  margin-#{$dir}: $closeMargin;
}