// size
$basePadding: 10px;
$baseFontSize: 14px;
$miniFontSize: 12px;
$titleFontSize: 16px; 
$baseLineHeight: 20px;
$farMargin: 15px;
$closeMargin: 10px;

//color
$mainColor:red;
$baseColor: #ccc;
$titleColor: #2c3e50;